:host{
  --a:calc((100vw - 56px)/3);
  --b:calc(100vw - 36px);
}

body {
  background-color: white;
}
/*------------------------------------------------------- Header Tag CSS here */
header{
  padding:10px;
  background-color:#00c4b4;
}

.top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height:40px;
  color:#fff;
}
.top img{
  max-height:100%;
}
.top input[type=checkbox]{
  position: absolute;
  top:-9999px;
  left:-9999px;
}
.top ul{
  display: none;
  padding:10px;
  position: absolute;
  top:0px;
  left:0px;
  height: 100%;
  width:90%;
  background-color: #fff;
  color:#00c4b4;
  z-index:9999;
  font-size:12px;
  /* font-family: 'Roboto Slab', serif; */
}
.top ul li{
  padding: 10px;
  display: block;
  text-align: left;
  margin-bottom: 15px;
}
.top ul li span:first-child{
  display: inline-block;
  width:20px;
  font-size:14px;
}
.top ul li:first-child{
  border-bottom: 1px solid #e1e1e1;
}
.top ul li span:last-child{
  font-size: 12px;
  color: #333;
}
.top input[type=checkbox]:focus ~ ul{
  display: block;
}
.search{
  margin-top:5px;
  text-align: center;
}
.search>div{
  width:100%;
  height: 30px;
  display: inline-block;
  position: relative;
}
.search div label{
  display:block;
  position: absolute;
  left:5px;
  top: 5px;;
  width:20px;
  height: 100%;
}
.search div label i{
  color:#00c4b4;
}
.search div input{
  float:left;
  width:100%;
  height: 30px;
  border: none;
  padding-left:30px;
  border-radius:4px;
}
.search div input::placeholder{
  color:#d2d3d5;
}

/*---Header Tag CSS Ends here */

.container{
  padding: 0px 8px;
}
.container:first-child{
  padding:0px 0px 0px 8px;
}

.container .title{
  text-transform: capitalize;
  margin:10px 0px;
  font-weight: 700;
  font-size:14px;
  /* line-height: 22px; */
}


.card-container{
 
  overflow-y: scroll;
  display: grid;
  grid-auto-columns:var(--b);
  grid-auto-flow: column;
  grid-gap:15px;
}
.card-container div img{
  width:100%;
  border:none;
  border-radius: 5px;
}



.grid-container{
  
  display: grid;
  grid-template-columns: repeat(auto-fill,var(--a));
  grid-template-rows: repeat(auto-fill,minmax(var(--a),max-content));
  /* grid-auto-columns:var(--a); */
  /* grid-auto-rows: minmax(var(--a),max-content); */
  /* grid-auto-flow: row; */
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.cat-img img{
  border:none;
  border-radius: 5px;
  width:100%;
  max-height: var(--a);
}
.cat-name{
  text-align: center;
  font-size:12px;
  font-weight: 500;
}

.cat-div-items {
  border: 1px solid #00c4b4;
  border-radius: 3px;
}