<header>
  <div class="top">
   

      <!-- <i class="fas fa-bars"></i> -->
      <label for="srch"><i class="fi-xnsuxl-three-bars-solid"></i></label>
      <input type="checkbox" id="srch">
      <ul>
          <li>
              <span><i class="fi-xnluxl-user"></i></span>
              <span>Mohammed Roshan</span>
          </li>
          <li>
              <span><i class="fas fa-retweet"></i></span>
              <span>My subscriptions</span>
          </li>
          <li>
              <span><i class="far fa-calendar"></i></span>
              <span>Order calendar</span>
          </li>
          <li>
              <span><i class="far fa-pause-circle"></i></span>
              <span>Vacation</span>
          </li>
          <li>
              <span><i class="fi-xnsuxl-credit-card-thin"></i></span>
              <span>super Wallet</span>
          </li>
      </ul>
      <img src="assets/images/fg.jpg">
      <i class="fi-xwluhl-shopping-cart-wide"></i>
  </div>
  <div class="search">
      <div>
          <label for="srch"><i class="fi-xwluhl-magnifying-glass-wide"></i></label>
          <input type="text" id="srch" placeholder="Search here..">
      </div>
  </div>
</header>
<main>
  <div class="container">
      <div class="title">
          featured
      </div>
      <div class="card-container">
          <div>
              <img src="assets/images/slide1.png" alt="">
          </div>
          <div>
              <img src="assets/images/slide2.png" alt="">
          </div>
          <div>
              <img src="assets/images/slide3.png" alt="">
          </div>
      </div>
  </div>
  <!-- <div class="container">
      <div></div>
      <div></div>
  </div> -->
  <div class="container">
      <div class="title">
          categories
      </div>
      <div class="grid-container">
        <ng-container *ngFor="let item of categories">
        <div class="cat-div-items" *ngIf="item.name!='Uncategorized'" >

              <div class="cat-img" >
                  <img [src]="item.image?.src" alt="">
              </div>
              <div class="cat-name" [innerHTML]="item.name">

              </div>

          </div>
        </ng-container>
        </div>
  </div>
</main>
